<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    {{>header}}
    

<div class="col-sm-8">
    <form class="contact-form validate-form" id="contact-form">
        <div class="row">
            <div class="form-group col-sm-6">
                <input name="name" id="name" type="text" class="form-control bordered" placeholder="Name">
            </div>
            <div class="form-group col-sm-6">
                <input name="email" id="email" type="text" class="form-control bordered" placeholder="E-mail address">
            </div>
        </div>
        <div class="form-group">
            <textarea name="message" id="message" cols="30" rows="7" class="form-control bordered" placeholder="Message"></textarea>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <but


{{>footer}}

</body>
</html>